doctype html
html
  head
    title sagar dance acadmy
    block scripts
    block style 
  body
    block content
      nav#navbar
        ul
          div#logo
            img(src="/static/img/logo.png")
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Class Info]
          li #[a(href="contect.pug") Contact Us]

    block contect 

    footer#footer
      | copyright 2022 sagardanceAcady.in | All copy rights reseved