extends base.pug

block scripts 
   script(src="/static/index.js") 
  

block style 
   style 
    include ../static/style.css
    
block content 
    nav#navbar
        ul
          div#logo
            img(src="/static/img/logo.png")
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Class Info]
          li #[a(href="/contect") Contact Us]
    
    section#introSection
        div Welcome to sagar's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p This is the best dance academy of the universe
        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p This is the best dance academy of the universe
        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")
                div.card-content
                    p This is the best dance academy of the universe

    section#sponsorsSection
        h2 Our Sponsors
        div#sponsers
          img(src="/static/img/logo1.png", alt="sponser image", Class="spImage")
          img(src="/static/img/logo3.png", alt="sponser image", Class="spImage")
          img(src="/static/img/logo2.png", alt="sponser image", Class="spImage")
          img(src="/static/img/logo4.png", alt="sponser image", Class="spImage")
               
          

    
    script
      include ../static/index.js
  
